html, body{
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #000
}

.page{
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header {
  position: sticky;
  top: 0;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.logo {
  font-weight: bold;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
  color: #fff
}

h2 {
  margin-top: 0;
  color: #fff
}

/* Tabs */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%
}

.tab {
  padding: 8px 14px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 4px;
}

.tab.active {
  border-bottom: none;
  background: #000;
  color: white;
}

.tab-content {
  display: none;
  color: #fff
}

.tab-content.active {
  display: block;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 4px;
  padding: -8 px
}

/* Horizontal scroll */
.cards_container {
 display: flex;
 gap: 16px;
 overflow-x: auto;
 scroll-snap-type: x mandatory;
 padding: 10px;
 scrollbar: none;
}

.card {
 flex: 0 0 80%;
 background: #000;
 border: 1px solid #fff;
 border-radius: 12px;
 padding: 20px;
 scroll-snap-align: start;
 min-height: 150px;
}

/* Bottom menu */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.bottom-menu a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font: Symbol
}
